* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.contaynir {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-color: #282829;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bosh {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    gap: 50px;

}

.bosh a {
    color: #FFFFFF;

}

h1 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 88px;
    line-height: 93px;
    letter-spacing: 0%;
    text-align: center;
}

.one {
    width: 743px;
    margin: 50px auto;
}

.mainbox {
    width: 393px;
    height: 396px;

    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 102px;
    text-align: center;
}

.two {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

footer {
    background-color: #282829;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3{
    font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
margin-top: 30px;

}
p{
    font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
margin-top: 10px;
}